.dataTables_wrapper .dataTables_length {
    float: left;
    text-align: left;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_info {
    float: left;
    text-align: left;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
}


.vmb-widgets-container {
    .dt-container {
        div.dt-layout-row {
    
            .dt-layout-start, .dt-layout-end .dt-search {
                display: flex!important;
                gap: 10px;
                align-items: center;
            }

            .dt-layout-start, .dt-layout-end {
                flex: 1;
                margin-left: 0!important;
                margin-right: 0!important;
            }
        }
    }
}

.modal .form-control {
    max-width: 100%!important;
}


#specialsCategory {
    table-layout: fixed;
    width: 100%;

    th, td {
        word-wrap: break-word;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 40%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 40%;
    }

    th:nth-child(3), td:nth-child(3) {
        width: 20%;
    }
}

.form-check-input:checked {
    background-color: white!important;
}

.form-check {
    display: flex!important;
    min-height: unset!important;
    align-items: center;
    gap: 5px;
    line-height: 2em;

    label.form-check-label {
        line-height: 1em;
    }
}

td.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}