@use "../helpers" as *;


.specialcode-page {

    #header, hr, #footer {
        display: none;
    }

    .specialcode-template {
        background: white;
        padding: 60px 0px;

        .template-title {
            max-width: 980px;
            margin: auto;
            text-align: center;
        }

        .specials-container {
            max-width: 980px;
            margin: auto;
            
            .specialcode-item {
                display: flex;
                align-items: center;
                padding: 15px;
                border-radius: 10px;
                background-color: #fff;

                @include maxBreakpoint('sm') {
                    flex-direction: column; 
                }

                img {
                    border-radius: 10px;
                    max-width: 35%;
                    height: 250px;
                    object-fit: cover;

                    @include maxBreakpoint('sm') {
                        margin-bottom: 20px;
                        max-width: 100%; 
                    }
                }

                .specials-content {
                    width: 100%;
                    margin-left: 30px;

                    @include maxBreakpoint('sm') {
                        margin-left: 0px;
                        padding: 0px 10px;
                        width: auto;
                    }
                }
        
                .specials-title {
                    font-size: 24px;
                    font-weight: bold;
                    color: #1c4587;
                    margin-bottom: 20px;
                }
        
                .specials-subtitle {
                    font-weight: bold;
                    font-size: 16px;
                }
        
                .specials-description {
                    font-size: 16px;
                }
                
                .specials-buttons {
                    display: flex;
                    gap: 10px;
                    margin-top: 20px;

                    @include maxBreakpoint('sm') {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                    }
        
                    .btn {
                        margin-right: 10px;
                        background-color: #ffde00;
                        color: #1c4587;
                        font-weight: bold; 
                        font-size: 15px;
                        border-radius: 8px;
                        padding: 12px 24px; 
                        font-weight: 500;
                        line-height: 1em;
                        text-decoration: none;
                        font-family: "Poppins";
                        transition: all .3s;

                        &:hover {
                            background-color: #fab400;
                        }
                    }
                }
            }
        }
        
    }

}