.vmb-form {
    
    .vmb-input-wrapper {

        margin-bottom: 10px;

       &.input-checkbox {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;

        .vmb-input {
            margin: 0;
        }

        label { line-height: 1em; } 
       }
 
    
    label {
        display: block;
    }
       

    }


    input, select, textarea {
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
        min-width: 200px;
        padding: 5px 10px!important;
    }

}


.vmb-title {
    margin-top: 30px;
}

.vmb-widgets-container {

    .notification-section {
        margin-top: 30px;
        
        .notice {
            margin-left: 0;
        }
    }
}

.vmb-button {
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px 15px;
    background: orange;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.vmb-button:hover {
    opacity: 0.8;
    transition: all 500ms ease-in-out;
}